*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --primary-color:rgb(299,9,20);
    --primary-hover-color:rgb(193,17,25);
    --sec-color:#212529;
    --sec-hover-color:#121416;
    --color-white:#fff;
}

.net-primary-btn{
    background-color: var(--primary-color);
    color:var(--color-white);
}

.net-primary-btn:hover{
    background-color: var(--primary-hover-color);
    color:var(--color-white);
}

.net-sec-btn{
    background-color: var(--sec-color);
    color:var(--color-white);
}

.net-sec-btn:hover{
    background-color: var(--sec-hover-color);
    color:var(--color-white);
}
body{
    position: relative;
    min-height: 100vh;
}
body::before{
    content:'';
    background-image: linear-gradient(
        360deg,
      rgba(0,0,0,0.85)3%,
      rgba(0,0,0,0.8465)11.08%,
      rgba(0, 0, 0, 0.8361) 19.17%,
      rgba(0, 0, 0, 0.8187) 27.25%,
      rgba(0, 0, 0, 0.7944) 35.33%,
      rgba(0, 0, 0, 0.7632) 43.42%,
      rgba(0, 0, 0, 0.725) 51.5%,
      rgba(0, 0, 0, 0.6868) 59.58%,
      rgba(0, 0, 0, 0.6556) 67.67%,
      rgba(0, 0, 0, 0.6313) 75.75%,
      rgba(0, 0, 0, 0.6139) 83.83%,
      rgba(0, 0, 0, 0.6035) 91.92%,
      rgba(0, 0, 0, 0.6) 100%
    ),url(../images/bgimg.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    filter: blur(2px);
    
}
.movieCard{
    border:1px solid red;
}
.logo{
    width:150%;
    display:inline-block;
}
.logo img{
    width:25%;
}
.movieCard{
    background-color: rgba(0,0,0,0.7);
    color:var(--color-white);
    transition:all.2s ease-in;
}
movieCard:hover{
  box-shadow: 0px 0px 12px rgb(121, 121, 121);
  transform: translateY(-3px);
}

.movieTitle{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieCard figure{
  height: 300px;
  position: relative;
  overflow: hidden;
}
.movieCard figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  top:30%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  padding: 20px;
  transform: translateY(115%);
  transition: all 0.5s ease-in-out;
}

.movieCard:hover figcaption,
.movieCard:active figcaption,
.movieCard:focus figcaption{
  transform: translateY(0);
}

#movieForm{
  position: absolute;
  top : 5%;
  left : 20%;
  width: 60%;
}

.backdrop{
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#movieForm{
  display: none;
}

.backdrop.active{
  display: block;
}

#movieForm.active{
  display: block;
}
